In [2]:
#importing basic libraries used in machine learning
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

import seaborn as sns
%matplotlib inline

In [3]:
#import csv file into pandas dataframe
df=pd.read_csv('dataset.csv')

In [4]:
df.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR corp,2020-02-11 00:00:00,2020.0,1.930438e+09,2020-01-26,20200125,20200126,20200210.0,USD,RV,1.0,NaN,54273.28,20200126.0,NAH4,1.930438e+09,0
1,U001,0200980828,BEN E,2019-08-08 00:00:00,2019.0,1.929646e+09,2019-07-22,20190722,20190722,20190811.0,USD,RV,1.0,NaN,79656.60,20190722.0,NAD1,1.929646e+09,0
2,U001,0200792734,MDV/ trust,2019-12-30 00:00:00,2019.0,1.929874e+09,2019-09-14,20190914,20190914,20190929.0,USD,RV,1.0,NaN,2253.86,20190914.0,NAA8,1.929874e+09,0
3,CA02,0140105686,SYSC llc,NaN,2020.0,2.960623e+09,2020-03-30,20200330,20200330,20200410.0,CAD,RV,1.0,NaN,3299.70,20200331.0,CA10,2.960623e+09,1
4,U001,0200769623,WAL-MAR foundation,2019-11-25 00:00:00,2019.0,1.930148e+09,2019-11-13,20191113,20191113,20191128.0,USD,RV,1.0,NaN,33133.29,20191113.0,NAH4,1.930148e+09,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  object
 4   buisness_year           50000 non-null  float64
 5   doc_id                  50000 non-null  float64
 6   posting_date            50000 non-null  object
 7   document_create_date    50000 non-null  int64
 8   document_create_date.1  50000 non-null  int64
 9   due_in_date             50000 non-null  float64
 10  invoice_currency        50000 non-null  object
 11  document type           50000 non-null  object
 12  posting_id              50000 non-null  float64
 13  area_business           0 non-null      float64
 14  total_open_amount       50000 non-null  float64
 15  baseline_create_date    50000 non-null  float64
 16  cust_payment_terms      50000 non-null  object
 17  invoice_id              49994 non-null  float64
 18  isOpen                  50000 non-null  int64
dtypes: float64(8), int64(3), object(8)
memory usage: 7.2+ MB

In [6]:
#showing na value of the dataset
df.isna().sum()

business_code                 0
cust_number                   0
name_customer                 0
clear_date                10000
buisness_year                 0
doc_id                        0
posting_date                  0
document_create_date          0
document_create_date.1        0
due_in_date                   0
invoice_currency              0
document type                 0
posting_id                    0
area_business             50000
total_open_amount             0
baseline_create_date          0
cust_payment_terms            0
invoice_id                    6
isOpen                        0
dtype: int64

In [7]:
#datatypes of each column
df.dtypes

business_code              object
cust_number                object
name_customer              object
clear_date                 object
buisness_year             float64
doc_id                    float64
posting_date               object
document_create_date        int64
document_create_date.1      int64
due_in_date               float64
invoice_currency           object
document type              object
posting_id                float64
area_business             float64
total_open_amount         float64
baseline_create_date      float64
cust_payment_terms         object
invoice_id                float64
isOpen                      int64
dtype: object

In [8]:
#unique value in each column
{column: len(df[column].unique()) for column in df.columns}

{'business_code': 6,
 'cust_number': 1425,
 'name_customer': 4197,
 'clear_date': 404,
 'buisness_year': 2,
 'doc_id': 48839,
 'posting_date': 506,
 'document_create_date': 507,
 'document_create_date.1': 506,
 'due_in_date': 547,
 'invoice_currency': 2,
 'document type': 2,
 'posting_id': 1,
 'area_business': 1,
 'total_open_amount': 44349,
 'baseline_create_date': 506,
 'cust_payment_terms': 74,
 'invoice_id': 48834,
 'isOpen': 2}

In [9]:
#checking na values
df.isna().sum()

business_code                 0
cust_number                   0
name_customer                 0
clear_date                10000
buisness_year                 0
doc_id                        0
posting_date                  0
document_create_date          0
document_create_date.1        0
due_in_date                   0
invoice_currency              0
document type                 0
posting_id                    0
area_business             50000
total_open_amount             0
baseline_create_date          0
cust_payment_terms            0
invoice_id                    6
isOpen                        0
dtype: int64

# Encoding

In [10]:
#One hot encoding
def binary_encoder(df,column):
    df=df.copy()
    df=pd.get_dummies(df,columns=[column])
    return df

In [1]:
#label Encoding
def label(df,column):
    df=df.copy()
    lbe=LabelEncoder()
    df[column]=lbe.fit_transform(df[column])
    return df

# Preprocessing

In [12]:
def preprocess(df):
    df=df.copy()
    #removing some  columns since they are reduntant
    df=df.drop(['isOpen','cust_number','posting_date','name_customer','area_business','posting_id','baseline_create_date'],axis=1)
    
    #As per the dataset dictionary removing duplicate values in doc_id,invoice_id column
    df=df.drop_duplicates(subset='doc_id',keep='first')
    df=df.drop_duplicates(subset='invoice_id',keep='first')
    
    #dropping the doc_id,invoice_id column as not required
    
    df=df.drop(['doc_id','invoice_id'],axis =1)
    
    # create date time columns 
    
    #These 2 are in int,float form
    for column in ['document_create_date.1','due_in_date']:
        df[column]=pd.to_datetime(df[column],format='%Y%m%d')
    #This one is in object form so seperately 
    df['clear_date']=pd.to_datetime(df['clear_date'])
    
    #calculating delay
    
    df['delay']=(df['clear_date']-df['due_in_date']).dt.days
    #making year,month and date column for each datetime column
    
    for column in ['clear_date','document_create_date.1','due_in_date']:
        coly=column+'_year'
        colm=column+'_month'
        cold=column+'_date'
        df[coly]=df[column].apply(lambda x:x.year)
        df[colm]=df[column].apply(lambda x:x.month)
        df[cold]=df[column].apply(lambda x:x.day)
    
    #we can drop the respective date time columns
    df=df.drop(['clear_date','document_create_date.1','due_in_date'],axis=1)
    
    
    #filling missing values with column means
    for column in ['clear_date_year','clear_date_month','clear_date_date','document_create_date.1_year','document_create_date.1_month','document_create_date.1_date','due_in_date_year','due_in_date_month','due_in_date_date','delay']:
        df[column]=df[column].fillna(df[column].mean())
        
        
    
    #One hot encding document type column and invoice currency columns
    df=binary_encoder(df,'invoice_currency')
    df=binary_encoder(df,'document type')
    
    #Label Encoding business code,cust_payment_terms columns
    df=label(df,'business_code')
    df=label(df,'cust_payment_terms')
    
    
    #Scaling with a standard scalar
    
    
    
    
    return df

In [13]:
#preprocssing
new_df=preprocess(df)
new_df

,business_code,buisness_year,document_create_date,total_open_amount,cust_payment_terms,delay,clear_date_year,clear_date_month,clear_date_date,document_create_date.1_year,document_create_date.1_month,document_create_date.1_date,due_in_date_year,due_in_date_month,due_in_date_date,invoice_currency_CAD,invoice_currency_USD,document type_RV,document type_X2
0,1,2020.0,20200125,54273.28,39,1.000000,2020.000000,2.000000,11.000000,2020,1,26,2020,2,10,0,1,1,0
1,1,2019.0,20190722,79656.60,33,-3.000000,2019.000000,8.000000,8.000000,2019,7,22,2019,8,11,0,1,1,0
2,1,2019.0,20190914,2253.86,22,92.000000,2019.000000,12.000000,30.000000,2019,9,14,2019,9,29,0,1,1,0
3,0,2020.0,20200330,3299.70,6,0.828289,2019.132378,6.222129,16.012745,2020,3,30,2020,4,10,1,0,1,0
4,1,2019.0,20191113,33133.29,39,-3.000000,2019.000000,11.000000,25.000000,2019,11,13,2019,11,28,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1,2020.0,20200417,3187.86,22,0.828289,2019.132378,6.222129,16.012745,2020,4,21,2020,5,6,0,1,1,0
49996,1,2019.0,20190814,6766.54,39,4.000000,2019.000000,9.000000,3.000000,2019,8,15,2019,8,30,0,1,1,0
49997,1,2020.0,20200218,6120.86,22,0.000000,2020.000000,3.000000,5.000000,2020,2,19,2020,3,5,0,1,1,0
49998,1,2019.0,20191126,63.48,22,0.000000,2019.000000,12.000000,12.000000,2019,11,27,2019,12,12,0,1,1,0
49999,1,2019.0,20190105,1790.30,43,-9.000000,2019.000000,1.000000,15.000000,2019,1,5,2019,1,24,0,1,1,0

In [14]:
new_df.dtypes

business_code                     int32
buisness_year                   float64
document_create_date              int64
total_open_amount               float64
cust_payment_terms                int32
delay                           float64
clear_date_year                 float64
clear_date_month                float64
clear_date_date                 float64
document_create_date.1_year       int64
document_create_date.1_month      int64
document_create_date.1_date       int64
due_in_date_year                  int64
due_in_date_month                 int64
due_in_date_date                  int64
invoice_currency_CAD              uint8
invoice_currency_USD              uint8
document type_RV                  uint8
document type_X2                  uint8
dtype: object

In [16]:
scaler=StandardScaler()
new_df=pd.DataFrame(scaler.fit_transform(new_df),columns=new_df.columns)

In [58]:
new_df

,business_code,buisness_year,document_create_date,total_open_amount,cust_payment_terms,delay,clear_date_year,clear_date_month,clear_date_date,document_create_date.1_year,document_create_date.1_month,document_create_date.1_date,due_in_date_year,due_in_date_month,due_in_date_date,invoice_currency_CAD,invoice_currency_USD,document type_RV,document type_X2
0,0.056027,1.511750,1.475217,0.559374,0.734043,1.773440e-02,2.859142,-1.351693e+00,-6.278603e-01,1.516216,-1.314482,1.183174,1.499268,-1.151629,-0.693506,-0.291436,0.291436,0.004525,-0.004525
1,0.056027,-0.661485,-0.618808,1.206197,0.275666,-3.953877e-01,-0.436236,5.691763e-01,-1.003619e+00,-0.643287,0.518938,0.729605,-0.666479,0.699301,-0.577848,-0.291436,0.291436,0.004525,-0.004525
2,0.056027,-0.661485,-0.576050,-0.766195,-0.564690,9.416261e+00,-0.436236,1.849756e+00,1.751943e+00,-0.643287,1.130078,-0.177533,-0.666479,1.007790,1.503991,-0.291436,0.291436,0.004525,-0.004525
3,-1.884425,1.511750,1.520870,-0.739545,-1.787026,1.146644e-17,0.000000,-2.843457e-16,-4.449873e-16,1.516216,-0.703342,1.636744,1.499268,-0.534653,-0.693506,3.431288,-3.431288,0.004525,-0.004525
4,0.056027,-0.661485,-0.531733,0.020681,0.734043,-3.953877e-01,-0.436236,1.529611e+00,1.125679e+00,-0.643287,1.741219,-0.290925,-0.666479,1.624766,1.388334,-0.291436,0.291436,0.004525,-0.004525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48829,0.056027,1.511750,1.540244,-0.742395,-0.564690,1.146644e-17,0.000000,-2.843457e-16,-4.449873e-16,1.516216,-0.397772,0.616213,1.499268,-0.226164,-1.156137,-0.291436,0.291436,0.004525,-0.004525
48830,0.056027,-0.661485,-0.598320,-0.651202,0.734043,3.275759e-01,-0.436236,8.893212e-01,-1.629883e+00,-0.643287,0.824508,-0.064140,-0.666479,0.699301,1.619649,-0.291436,0.291436,0.004525,-0.004525
48831,0.056027,1.511750,1.495927,-0.667655,-0.564690,-8.554612e-02,2.859142,-1.031548e+00,-1.379377e+00,1.516216,-1.008912,0.389429,1.499268,-0.843141,-1.271795,-0.291436,0.291436,0.004525,-0.004525
48832,0.056027,-0.661485,-0.528838,-0.822011,-0.564690,-8.554612e-02,-0.436236,1.849756e+00,-5.026075e-01,-0.643287,1.741219,1.296567,-0.666479,1.933255,-0.462191,-0.291436,0.291436,0.004525,-0.004525
48833,0.056027,-0.661485,-0.756212,-0.778008,1.039627,-1.015071e+00,-0.436236,-1.671837e+00,-1.268491e-01,-0.643287,-1.314482,-1.198063,-0.666479,-1.460118,0.925703,-0.291436,0.291436,0.004525,-0.004525

In [59]:
#missing values
new_df.isna().sum()

business_code                   0
buisness_year                   0
document_create_date            0
total_open_amount               0
cust_payment_terms              0
delay                           0
clear_date_year                 0
clear_date_month                0
clear_date_date                 0
document_create_date.1_year     0
document_create_date.1_month    0
document_create_date.1_date     0
due_in_date_year                0
due_in_date_month               0
due_in_date_date                0
invoice_currency_CAD            0
invoice_currency_USD            0
document type_RV                0
document type_X2                0
dtype: int64

In [60]:
#droping the missing value of invoice id
new_df=new_df.dropna()

In [61]:
#checking if removed
new_df.isna().sum()

business_code                   0
buisness_year                   0
document_create_date            0
total_open_amount               0
cust_payment_terms              0
delay                           0
clear_date_year                 0
clear_date_month                0
clear_date_date                 0
document_create_date.1_year     0
document_create_date.1_month    0
document_create_date.1_date     0
due_in_date_year                0
due_in_date_month               0
due_in_date_date                0
invoice_currency_CAD            0
invoice_currency_USD            0
document type_RV                0
document type_X2                0
dtype: int64

In [62]:
y=new_df['delay']
x=new_df.drop('delay',axis=1).copy()
x_test=new_df.drop('delay',axis=1).copy()

In [63]:
models=[LinearRegression(),RandomForestRegressor(),DecisionTreeRegressor(),MLPRegressor()]

In [64]:
for model in models:
    model.fit(x,y)

In [65]:
model_names=['LinearRegression : ','RandomForestRegressor : ','DecisionTreeRegressor : ','MLPRegressor : ']

In [66]:
#for model,name in zip(models,model_names):
    #print(name + ":{:.4f}%".format(model.score(x_test,y_test)*100))

In [67]:
ml=MLPRegressor()
ml.fit(x,y)
pred=ml.predict(x_test)
new_df['predicted']=pred
sns.regplot(y_test,pred,fit_reg=True)

In [78]:
new_df1=(s

ValueError: operands could not be broadcast together with shapes (1,48834) (2,) (1,48834)

In [76]:
new_df1

,business_code,buisness_year,document_create_date,total_open_amount,cust_payment_terms,delay,clear_date_year,clear_date_month,clear_date_date,document_create_date.1_year,document_create_date.1_month,document_create_date.1_date,due_in_date_year,due_in_date_month,due_in_date_date,invoice_currency_CAD,invoice_currency_USD,document type_RV,document type_X2,predicted
0,0.056027,1.511750,1.475217,0.559374,0.734043,1.773440e-02,2.859142e+00,-1.351693e+00,-6.278603e-01,1.516216,-1.314482,1.183174,1.499268,-1.151629,-0.693506,-0.291436,0.291436,0.004525,-0.004525,0.039016
1,0.056027,-0.661485,-0.618808,1.206197,0.275666,-3.953877e-01,-4.362360e-01,5.691763e-01,-1.003619e+00,-0.643287,0.518938,0.729605,-0.666479,0.699301,-0.577848,-0.291436,0.291436,0.004525,-0.004525,-0.412170
2,0.056027,-0.661485,-0.576050,-0.766195,-0.564690,9.416261e+00,-4.362360e-01,1.849756e+00,1.751943e+00,-0.643287,1.130078,-0.177533,-0.666479,1.007790,1.503991,-0.291436,0.291436,0.004525,-0.004525,9.511906
3,-1.884425,1.511750,1.520870,-0.739545,-1.787026,3.067266e-17,-6.422819e-13,-8.157905e-16,-1.308649e-15,1.516216,-0.703342,1.636744,1.499268,-0.534653,-0.693506,3.431288,-3.431288,0.004525,-0.004525,0.017087
4,0.056027,-0.661485,-0.531733,0.020681,0.734043,-3.953877e-01,-4.362360e-01,1.529611e+00,1.125679e+00,-0.643287,1.741219,-0.290925,-0.666479,1.624766,1.388334,-0.291436,0.291436,0.004525,-0.004525,-0.358256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48829,0.056027,1.511750,1.540244,-0.742395,-0.564690,3.067266e-17,-6.422819e-13,-8.157905e-16,-1.308649e-15,1.516216,-0.397772,0.616213,1.499268,-0.226164,-1.156137,-0.291436,0.291436,0.004525,-0.004525,0.029379
48830,0.056027,-0.661485,-0.598320,-0.651202,0.734043,3.275759e-01,-4.362360e-01,8.893212e-01,-1.629883e+00,-0.643287,0.824508,-0.064140,-0.666479,0.699301,1.619649,-0.291436,0.291436,0.004525,-0.004525,0.332836
48831,0.056027,1.511750,1.495927,-0.667655,-0.564690,-8.554612e-02,2.859142e+00,-1.031548e+00,-1.379377e+00,1.516216,-1.008912,0.389429,1.499268,-0.843141,-1.271795,-0.291436,0.291436,0.004525,-0.004525,-0.042232
48832,0.056027,-0.661485,-0.528838,-0.822011,-0.564690,-8.554612e-02,-4.362360e-01,1.849756e+00,-5.026075e-01,-0.643287,1.741219,1.296567,-0.666479,1.933255,-0.462191,-0.291436,0.291436,0.004525,-0.004525,-0.056592
48833,0.056027,-0.661485,-0.756212,-0.778008,1.039627,-1.015071e+00,-4.362360e-01,-1.671837e+00,-1.268491e-01,-0.643287,-1.314482,-1.198063,-0.666479,-1.460118,0.925703,-0.291436,0.291436,0.004525,-0.004525,-0.995579

In [69]:
from sklearn.preprocessing import StandardScaler
data = [[1,1], [2,3], [3,2], [1,1]]
scaler = StandardScaler()
scaler.fit(data)
scaled = scaler.transform(data)
print(scaled)

# for inverse transformation
inversed = scaler.inverse_transform(scaled)
print(inversed)

[[-0.90453403 -0.90453403]
 [ 0.30151134  1.50755672]
 [ 1.50755672  0.30151134]
 [-0.90453403 -0.90453403]]
[[1. 1.]
 [2. 3.]
 [3. 2.]
 [1. 1.]]